<div>

    <pre>
        {{ product | json }}
    </pre>

    <button ng-click="editToggle()">{{buttonText}}</button>
    <form ng-if="showEdit" enctype='multipart/form-data' id="edit-product-form" name="editProductForm"
          ng-submit="editProductSend(productProfile)" novalidate>

        <div class="alert alert-danger" ng-show="error">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>

        <div class="form-group">
            <label for="name">Product Name</label>
            <input name="name" type="text" ng-model="productProfile.name" class="form-control" id="name"
                   placeholder="Enter Product Name" required>
            <error ng-show="editProductForm.name.$error.required && editProductForm.$submitted">Product name is
                required
            </error>
        </div>

        <div class="form-group">
            <label for="image">Product Image</label>
            <input
                    ngf-select ng-model="myFiles"
                    ngf-change="uploadFile($files, $event)"
                    accept="'image/*'"
                    name="image" type="file" class="form-control" id="image" placeholder="Product image url" required>
        </div>

        <div class="form-group">
            <label for="details">Product details</label>
            <input name="details" type="text" ng-model="productProfile.details" class="form-control" id="details"
                   placeholder="Enter product details" required>
            <error ng-show="editProductForm.details.$error.required && editProductForm.$submitted">Details are
                required
            </error>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>