<div>
    <button ng-click="editToggle()">{{buttonText}} AND THIS</button>
</div>
<div>
    <form ng-if="showEdit" enctype='multipart/form-data' id="new-listitem-form" name="editListItemForm"
          ng-submit="listItemProfile.$valid && createListItem(listItemProfile)" novalidate>

        <div class="alert alert-danger" ng-show="error">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input name="quantity" type="text" ng-model="listItemProfile.quantity" class="form-control" id="quantity"
                   placeholder="Enter List Item Name" required>
            <error ng-show="createListItem.quantity.$error.required && createListItem.$submitted">Quantity is
                required
            </error>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input name="price" type="text" ng-model="listItemProfile.price" class="form-control" id="price"
                   placeholder="Enter price" required>
            <error ng-show="createListItem.price.$error.required && createListItem.$submitted">Price is
                required
            </error>
        </div>

        <div class="form-group">
            <label for="product">Product</label>
            <select id="product" ng-model="listItemProfile.product">
                <!-- options of products -->
            </select>
            <error ng-show="createListItem.product.$error.required && createListItem.$submitted">Product is
                required
            </error>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select id="category" ng-model="listItemProfile.category">
                <!-- options of products -->
            </select>
            <error ng-show="createListItem.category.$error.required && createListItem.$submitted">Category is
                required
            </error>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>