<div>
    <button ng-click="editToggle()">{{buttonText}}</button>
    <button ng-show="!areYouSure" ng-click="areYouSure=true">Remove List Item</button>
    <button ng-show="areYouSure" ng-click="removeListItem()">Yes, go ahead!</button>
</div>
<div>
    <form ng-if="showEdit" enctype='multipart/form-data' id="edit-listitem-form" name="editListItemForm"
          ng-submit="editListItemForm.$valid && editListItem(listItemProfile)" novalidate>

        <div class="alert alert-danger" ng-show="error">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input name="quantity" type="text" ng-model="listItemProfile.quantity" class="form-control" id="quantity"
                   placeholder="Enter Quantity" required>
            <error ng-show="editListItemForm.quantity.$error.required && editListItemForm.$submitted">Quantity is
                required
            </error>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input name="price" type="text" ng-model="listItemProfile.price" class="form-control" id="price"
                   placeholder="Enter price" required>
            <error ng-show="editListItemForm.price.$error.required && editListItemForm.$submitted">Price is
                required
            </error>
        </div>

        <div class="form-group">
            <label for="product">Product</label>
            <select id="product" ng-model="listItemProfile.product">
                <option value="{{product._id}}" ng-repeat="product in products" ng-selected="product.name === current.product.name">{{product.name}}</option>
            </select>
            <error ng-show="editListItemForm.product.$error.required && editListItemForm.$submitted">Product is
                required
            </error>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select id="category" ng-model="listItemProfile.category">
                <option value="{{category._id}}" ng-repeat="category in categories" ng-selected="category.name === current.category.name">{{category.name}}</option>
            </select>
            <error ng-show="editListItemForm.category.$error.required && editListItemForm.$submitted">Category is
                required
            </error>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>