<div id="listitem" class="fluid-container">
<div class="row">
<div class="col-md-5">
   <img class="image-responsive listitem-image" ng-src="https://placekitten.com/g/504/520" alt="Responsive image">
   <!--    src="images/{{listitem.product.image}}" alt="Responsive image" -->
</div>
<div class="col-md-7">
   <div id="listitem-name">
      <h1>{{ listitem.product.name }}</h1>
   </div>
   <div id="listitem-price">
      <h2>{{listitem.price/100 | currency}}</h2>
   </div>
   <div id="listitem-description">
      <p>Product description: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
         {{listitem.product.description}}
      </p>
   </div>
   <div id="select-quantity">
      <add-to-cart item="listitem"></add-to-cart>
   </div>
</div>
<div class="row">
   <div id="listitem-reviews">
      <div ng-controller="ReviewController as reviewCtrl">
         <div ng-if="reviewCtrl.reviews">
            <h4>Product Reviews:</h4>
            <p ng-repeat="review in reviewCtrl.reviews">
               <a href="#">User: {{reviewCtrl.creator.firstName}}, Comment: {{review.comment}}, Rating:
               {{review.stars}}</a>
            </p>
         </div>
         <button id="addReview" ng-if="!reviewCtrl.showForm" ng-click="reviewCtrl.toggleReviewForm()" type="button" class="btn btn-primary space-button">Add Review</button>
         <button id="addReview" ng-if="reviewCtrl.showForm" ng-click="reviewCtrl.toggleReviewForm()" type="button" class="btn btn-primary">Close</button>
         <div class="space-form" ng-if="reviewCtrl.showForm">
            <form name="review" ng-submit="reviewCtrl.addReviews()">
               <fieldset class="form-group">
                  <select class="form-control" title="Stars" ng-model="reviewCtrl.futureReview.stars">
                     <option value>Rate the Product</option>
                     <option ng-repeat="starnum in reviewCtrl.starsArr" value="{{starnum}}">{{starnum}}</option>
                  </select>
               </fieldset>
               <fieldset class="form-group">
                  <textarea class="form-control" ng-model="reviewCtrl.futureReview.comment"
                     placeholder="Write a short comment about this product..." title="Comment"></textarea>
               </fieldset>
               <fieldset class="form-group">
                  <input type="submit" class="btn btn-primary pull-right" value="Submit Review"/>
               </fieldset>
            </form>
         </div>
      </div>
   </div>
</div>
</section>