<div id="category">
    <header ng-if="category" back-img="category.image">
        <h1>{{category.name}}</h1>
        <p>{{category.description}}</p>
    </header>

    <div class="container">
        <div class="search-bar">
            <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Search:</button>
          </span>
                <input ng-model="searchTerm" type="text" class="form-control"
                       placeholder="Search {{listItems[0].category.name}} for...">
            </div>
        </div>
        <ul class="listOfItems clearfix">
            <li class="col-md-3 col-lg-3" ng-repeat="listItem in listItems | filter:searchTerm">
                <div class="item-image">
                    <img ng-src="{{listItem.product.image}}">
                </div>
                <div class="item-description">
                    <p><a ui-sref="listItem({listItemId:listItem._id})">{{listItem.product.name}}</a></p>
                    <add-to-cart item="listItem"></add-to-cart>
                </div>
            </li>
        </ul>
    </div>

    <!--<recommendations></recommendations>-->
</div>
