<div id="category">
    <header ng-if="category" back-img="category.image">
        <h1>{{category.name}}</h1>
        <p>{{category.description}}</p>
    </header>
    <recommendations ng-if="category" category="category"></recommendations>
    <div class="container">

        <div class="search-bar">
            <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Search:</button>
          </span>
                <input ng-model="searchTerm" type="text" class="form-control"
                       placeholder="Search {{listItems[0].category.name}} for...">
            </div>
        </div>
        <ul class="listOfItems clearfix">
            <li class="col-md-3 col-lg-3" ng-repeat="listItem in listItems | filter:searchTerm">
                <item-view item="listItem"></item-view>
            </li>
        </ul>
    </div>
</div>
