<!-- <pre>
   {{cart | json}}
   </pre> -->
<div id="cart" class="container container-fluid">
   <div class="row-fluid">
      <div class="span10 offset1">
         <h1>
            <a><img src="http://fc01.deviantart.net/fs71/i/2011/118/0/c/space_logo_by_avikdey-d3f2ihe.jpg" height="60" width="60" alt="logo"></a>
            Shopping Cart
         </h1>
         <br/>
         <br/>
         <div id="content">
            <div class="container-fluid">
               <div class="row">
                  <!-- left column -->
                  <div class="col-md-8">
                     <p class="text-info">
                        Thanks for shopping at Future Experience.<br>
                        This is your shopping cart. Here you can edit the items, 
                        go back to the store, clear the cart, or check out.
                     </p>
                     <br/>
                     <!-- items -->
                     <table class="table table-bordered">
                        <!-- header -->
                        <tbody>
                           <tr>
                              <td><b>Item</b></td>
                              <td class="tdCenter"><b>Quantity</b></td>
                              <td class="tdCenter"><b>Price Per Unit</b></td>
                              <td class="tdCenter"><b>Subtotal Price</b></td>
                              <td class="tdCenter">Remove</td>
                           </tr>
                           <!-- empty cart message -->
                           <tr ng-show="cart.listitems.length == 0">
                               <td class="tdCenter" colspan="5">
                              Your cart is empty.
                              </td>
                           </tr>
                           <!-- cart items -->
                           <tr ng-show = "cart.listitems.length > 0" ng-repeat="cartItem in cart.listitems">
                              <td class="ng-binding">{{cartItem.item.product.name}}</td>
                              <td class="tdCenter">
                                 <select ng-model="cartItem.quantity" ng-change="updateQuant(cartItem.item._id, cartItem.quantity)">
                                    <option ng-repeat="num in [].constructor(cartItem.item.quantity) track by $index" value="{{$index + 1}}" ng-selected="{{($index+1) === cartItem.quantity}}">{{$index + 1}}</option>
                                 </select>
                              </td>
                              <td class="pricePerItem">{{cartItem.item.price/100 | currency}}</td>
                              <td class="tdCenter">{{cartItem.item.price * cartItem.quantity/100 | currency}}</td>
                              <td class="tdCenter" title="remove from cart">
                                 <button ng-click="removeItem(cartItem.item._id)">
                                  <img src="http://photos.gograph.com/thumbs/CSP/CSP364/k3646937.jpg" height="35" width="35"/>
                                 </button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div> <!-- end left column -->
                  <!--   right column  -->
                  <div class="col-md-4">
                     <table class="table table-bordered">
                     <h3>Cart Totals</h4>
                     <tr>
                        <td>Cart Subtotal: </td>
                        <td class="tdCenter">{{cart.totalPrice/100 | currency}}</td>
                     </tr>
                     <tr>
                        <td>Shipping: </td>
                        <td class="tdCenter">Free!</td>
                     </tr>
                     <tr>
                        <td><strong>Order Total: </strong></td>
                        <td class="tdCenter"><strong>{{cart.totalPrice /100 | currency}}</strong></td>
                     </tr>

                     </table>
                     <br/>
                     <p class="text-info">
                        <button class="btn btn-block" ui-sref="home">
                        <i class="icon-chevron-left"></i> back to store
                        </button>

                        <button class="btn btn-block btn-danger" ng-click="clearCart()">
                        <i class="icon-trash icon-white"></i> clear cart
                        </button>

                        <button class="btn btn-block btn-primary" ui-sref="checkout">
                        <i class="icon-ok icon-white"></i> check out
                        </button>
                     </p>
                  </div> <!-- end right column -->
               </div>
            </div>
         </div> <!-- end content -->
      </div> <!-- end span10 -->
   </div> <!-- end row fluid -->
</div>