<!-- <pre>
   {{cart | json}}
   </pre> -->
<div class="container-fluid">
   <div class="row-fluid">
      <div class="span10 offset1">
         <h1>
            <a><img src="http://fc01.deviantart.net/fs71/i/2011/118/0/c/space_logo_by_avikdey-d3f2ihe.jpg" height="60" width="60" alt="logo"></a>
            Space Store 
         </h1>
         <div>
            <p class="text-info">
               Thanks for shopping at the Space Store.<br>
               This is your shopping cart. Here you can edit the items, 
               go back to the store, clear the cart, or check out.
            </p>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-8">
                     <!-- items -->
                     <table class="table table-bordered">
                        <!-- header -->
                        <tbody>
                           <tr>
                              <td><b>Item</b></td>
                              <td class="tdCenter"><b>Quantity</b></td>
                              <td class="tdCenter"><b>Price Per Unit</b></td>
                              <td class="tdCenter"><b>Subtotal Price</b></td>
                              <td class="tdCenter">Remove</td>
                           </tr>
                           <!-- empty cart message -->
                           <!--   <tr ng-hide="cart.getTotal() > 0" style="display: none;"> -->
                           <!--     <td class="tdCenter" colspan="4">
                              Your cart is empty.
                              </td> -->
                           <!-- </tr> -->
                           <!-- cart items -->
                           <tr ng-repeat="cartItem in cart.listitems">
                              <td class="ng-binding">{{cartItem.item.product.name}}</td>
                              <td class="tdCenter">
                                 <select ng-model="cartItem.quantity" ng-change="updateQuant(cartItem.item._id, cartItem.quantity)">
                                    <option ng-repeat="num in [].constructor(cartItem.item.quantity) track by $index" value="{{$index + 1}}" ng-selected="{{($index+1) === cartItem.quantity}}">{{$index + 1}}</option>
                                 </select>
                              </td>
                              <td class="pricePerItem">{{cartItem.item.price/100 | currency}}</td>
                              <td class="tdCenter">{{cartItem.item.price * cartItem.quantity/100 | currency}}</td>
                              <td class="tdCenter" title="remove from cart">
                                 <button ng-click="removeItem(cartItem.item._id)">
                                  <img src="http://photos.gograph.com/thumbs/CSP/CSP364/k3646937.jpg" height="35" width="35"/>
                                 </button>
                              </td>
                           </tr>
                           </tr
                           <! footer
                           <tr>
                              <td><b>Total</b></td>
                              <td class="tdCenter"><b class="ng-binding"></b></td>
                              <td></td>
                              <td></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <!--        buttons -->
                  <div class="col-md-4">
                     <p class="text-info">
                        <button class="btn btn-block" ui-sref="home">
                        <i class="icon-chevron-left"></i> back to store
                        </button>

                        <button class="btn btn-block btn-danger" ng-click="clearCart()">
                        <i class="icon-trash icon-white"></i> clear cart
                        </button>

                        <button class="btn btn-block btn-primary" ui-sref="checkout">
                        <i class="icon-ok icon-white"></i> Check Out
                        </button>
                     </p>
                     <!--<br><br>-->
                     <!--<p class="text-info">-->
                        <!--<button class="btn btn-block btn-primary">-->
                        <!--<i class="icon-ok icon-white"></i> check out using PayPal-->
                        <!--</button>-->
                        <!--<button class="btn btn-block btn-primary">-->
                        <!--<i class="icon-ok icon-white"></i> check out using Google-->
                        <!--</button>-->
                     <!--</p>-->
                     <!--<br><br>-->
                     <!--<p class="text-info">-->
                        <!--<button class="btn btn-block btn-link">-->
                        <!--<img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="checkout PayPal">-->
                        <!--</button>    -->
                        <!--<button class="btn btn-block btn-link">-->
                        <!--<img src="http://mypcservices.us/images/googlecheck.jpg" alt="checkoutGoogle">-->
                        <!--</button>    -->
                     <!--</p>-->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>