<div id="checkout" class="container" ng-if="!paid">
    <h1>Confirm Your Order</h1>
    <table class="table table-bordered">
       <!-- header -->
       <tbody>
          <tr>
             <td><b>Item</b></td>
             <td class="tdCenter"><b>Quantity</b></td>
             <td class="tdCenter"><b>Price Per Unit</b></td>
             <td class="tdCenter"><b>Subtotal Price</b></td>
          </tr>
          <!-- empty cart message -->
          <tr ng-show="cart.listitems.length == 0">
              <td class="tdCenter" colspan="5">
             Your cart is empty.
             </td>
          </tr>
          <!-- cart items -->
          <tr ng-show = "cart.listitems.length > 0" ng-repeat="cartItem in cart.listitems">
             <td class="ng-binding">{{cartItem.item.product.name}}</td>
             <td class="tdCenter">{{cartItem.quantity}}</td>
             <td class="pricePerItem">{{cartItem.item.price/100 | currency}}</td>
             <td class="tdCenter">{{cartItem.item.price * cartItem.quantity/100 | currency}}</td>
          </tr>
       </tbody>
 <!--       <tfoot>
          <tr>
             <td colspan="3"><strong>Cart Subtotal: </strong></td>
             <td class="tdCenter">{{cart.totalPrice/100 | currency}}</td>
          </tr>
          <tr>
             <td colspan="3"><strong>Shipping: </strong></td>
             <td class="tdCenter">Free!</td>
          </tr>
          <tr>
             <td colspan="3"><strong>Order Total: </strong></td>
             <td class="tdCenter"><strong>{{cart.totalPrice /100 | currency}}</strong></td>
          </tr>
        </tfoot> -->
    </table>
    <br>
    <table class="table table-bordered ">
    <tbody>
    	<tr>
    	   <td colspan="9"><strong>Cart Subtotal: </strong></td>
    	   <td class="tdCenter">{{cart.totalPrice/100 | currency}}</td>
    	</tr>
    	<tr>
    	   <td colspan="9"><strong>Shipping: </strong></td>
    	   <td class="tdCenter">Free!</td>
    	</tr>
    	<tr>
    	   <td colspan="9"><strong>Order Total: </strong></td>
    	   <td class="tdCenter"><strong>{{cart.totalPrice /100 | currency}}</strong></td>
    	</tr>
    	</tbody>
    </table>

    <button class="btn btn-block" ui-sref="cart">
    	<i class="icon-chevron-left"></i> Back To Cart
    </button>

    <h2>Payment Info</h2>
    <table>
	    <tr> 
		    <td height="22" align="right" valign="middle">Credit Card Number:</td>
		    <td colspan="2" align="left"><input name="CCNo" type="text" value="" size="19" maxlength="40"></td>
	  	</tr>
	  	<tr> 
		    <td height="22" align="right" valign="middle">Expiry Date:</td>
		    <td colspan="2" align="left">
		      <SELECT NAME="CCExpiresMonth" >
		        <OPTION VALUE="" SELECTED>--Month--
		        <OPTION VALUE="01">January (01)
		        <OPTION VALUE="02">February (02)
		        <OPTION VALUE="03">March (03)
		        <OPTION VALUE="04">April (04)
		        <OPTION VALUE="05">May (05)
		        <OPTION VALUE="06">June (06)
		        <OPTION VALUE="07">July (07)
		        <OPTION VALUE="08">August (08)
		        <OPTION VALUE="09">September (09)
		        <OPTION VALUE="10">October (10)
		        <OPTION VALUE="11">November (11)
		        <OPTION VALUE="12">December (12)
		      </SELECT> /
		      <SELECT NAME="CCExpiresYear">
		        <OPTION VALUE="" SELECTED>--Year--
		        <OPTION VALUE="15">2015
		        <OPTION VALUE="16">2016
		        <OPTION VALUE="17">2017
		        <OPTION VALUE="18">2018
		        <OPTION VALUE="19">2019
		        <OPTION VALUE="20">2020
		      </SELECT>
		    </td>
	  	</tr>
    </table>
    <br/>
    <br/>
    <button ng-click="processPayment()" class="btn btn-block btn-primary">
        Pay
    </button>
</div>

<ui-view></ui-view>