<section id="home">

	<!--<h1 ng-repeat="category in categories"><a ui-sref="category({cat_id: category._id})"> {{category.name}}</a></h1>-->
    <video autoplay loop poster="images/fullstack-bg.png">
      <source src="video/Fullstack_Project.webm" type="video/webm">
    </video>

    <div class="absolute-center">
      <div class="center-container">
        <h1>WELCOME TO FUTURE EXPERIENCE</h1>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            SELECT YOUR FUTURE
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="category in categories" role="presentation"><a role="menuitem" tabindex="-1" ui-sref="category({cat_id: category._id})">{{category.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>


</section>

