* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$blue-color: #23D2F2;
$red-color: #FE4641;

@font-face {
  font-family: 'lovelo bold';
  src: url('fonts/lovelo_line_bold-webfont.eot');
  src: url('fonts/lovelo_line_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/lovelo_line_bold-webfont.woff2') format('woff2'),
  url('fonts/lovelo_line_bold-webfont.woff') format('woff'),
  url('fonts/lovelo_line_bold-webfont.ttf') format('truetype'),
  url('fonts/lovelo_line_bold-webfont.svg#loveloline_bold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lovelo light';
  src: url('fonts/lovelo_line_light-webfont.eot');
  src: url('fonts/lovelo_line_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/lovelo_line_light-webfont.woff2') format('woff2'),
  url('fonts/lovelo_line_light-webfont.woff') format('woff'),
  url('fonts/lovelo_line_light-webfont.ttf') format('truetype'),
  url('fonts/lovelo_line_light-webfont.svg#loveloline_light') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lovelo black';
  src: url('fonts/lovelo_black-webfont.eot');
  src: url('fonts/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/lovelo_black-webfont.woff2') format('woff2'),
  url('fonts/lovelo_black-webfont.woff') format('woff'),
  url('fonts/lovelo_black-webfont.ttf') format('truetype'),
  url('fonts/lovelo_black-webfont.svg#loveloblack') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 125%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'lovelo black';
}

section {
  width: 100%;
}

.absolute-center {
  position: absolute;
  top:0;
  left:0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: table;
  .center-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

header {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  padding-top: 85px;

  h1, p {
    color: #FFF;
    position:relative;
    z-index: 1;
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }

  &:before {
    content: "";
    display:block;
    background: rgba(0,0,0,0.45);
    position: absolute; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    z-index: 0;
  }
}

footer {
  background: #333;
  text-align: center;
  margin:0;
  p {
    padding: 45px 0;
    color:#FFF;
    font-size: 12px;
    margin:0;
  }
}

.search-bar {
  width: 650px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'category/category';
@import 'recommendations/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'cart/main';
@import 'checkout/main';
@import 'paid/main';